<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>PARHeaderCell</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Predefined device</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>If specified, it will automatically connect (if available) to this device on app launch.</string>
		</dict>

        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>key</key>
            <string>Device</string>
            <key>detail</key>
            <string>PARColorListItemsController</string>
            <key>get</key>
            <string>readPreferenceValue:</string>
            <key>set</key>
            <string>setPreferenceValue:specifier:</string>
            <key>default</key>
            <string>None</string>
            <key>label</key>
            <string>Device</string>
        </dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
